@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.News>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;

@{
	Layout = "LayoutWithBreadcrumb.cshtml";
}

 <section class="news-section-wrapper">
      <div class="news-section-heading-wrapper">
        <h2>Our News & Articles</h2>
      </div>
    
    <div class="news-section">
      
      
@{
	var selection = Umbraco.Content(Guid.Parse("c9b3c64a-e44b-42d1-9e9f-c7e4fd87f995"))
    .ChildrenOfType("newsPageArticleDetails")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate).ToList();
}

        @if(selection != null)
        {
            @foreach (var item in selection)
            {

                var url = item.Url();
                var date = item.CreateDate;
                var image = item.Value<IPublishedContent>("articleImage");
                var category = item.Value("articleCategory");
                var title = item.Name();
                var description = item.Value("articleDescription");



                <div class="news">
                    <div class="news-publish-date-wrapper">
                        <div class="news-publish-date-day">@date.ToString("dd")</div>
                        <div class="news-publish-date-month">@date.ToString("MMM")</div>
                    </div>
                    <img
                 src="@image.Url()"
                 alt="Article image" />
                    <span class="news-category">@category</span>
                    <h3><a href="@url" class="news-h3">@title</a></h3>
                    <p class="news-p">@description</p>
                </div>


            }
        }


	
     
    </div>
  </section>